html {
  font-size: 62.5%; }
  @media (min-width: 320px) {
    html {
      font-size: 50%; } }
  @media (min-width: 480px) {
    html {
      font-size: 55%; } }
  @media (min-width: 768px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: 'ProximaNova';
  color: #231f20;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.525;
  background: #fff; }
  @media (min-width: 320px) {
    body.homepage {
      background: #fff; } }
  @media (min-width: 1280px) {
    body.homepage {
      background: #f6f6f6 url(../img/home/line-vertical.png) repeat-y center center; } }

@media (min-width: 1280px) {
  .container {
    width: 1280px; } }

.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 1rem; }

.h1, h1 {
  font-size: 38px;
  font-size: 3.8rem; }

.h2, h2 {
  font-size: 30px;
  font-size: 3rem; }

.h3, h3 {
  font-size: 24px;
  font-size: 2.4rem; }

.h4, h4 {
  font-size: 20px;
  font-size: 2rem; }

.h5, h5 {
  font-size: 18px;
  font-size: 1.8rem; }

.h6, h6 {
  font-size: 16px;
  font-size: 1.6rem; }

.orange {
  color: #f8971c; }

.white {
  color: white; }

.mb15 {
  margin-bottom: 15px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

a {
  color: #f8971c;
  -webkit-transition: All .3s ease;
  -moz-transition: All .3s ease;
  -o-transition: All .3s ease;
  -ms-transition: All .3s ease; }
  a:hover {
    color: #da7d07;
    outline: 0; }

.form-control {
  border: 1px solid #bfd8d8;
  box-shadow: none;
  color: #4e5b64;
  height: 50px; }
  .form-control:hover {
    border: 1px solid #4FBBBC; }

.form-group {
  margin-bottom: 20px; }

.checkbox, .radio {
  margin-bottom: 15px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

@media (min-width: 768px) {
  .text-right {
    text-alight: right; } }

.navbar-go {
  background-color: white;
  border: none;
  min-height: 67px;
  margin-bottom: 0;
  text-align: center; }
  @media (min-width: 320px) {
    .navbar-go {
      min-height: 40px; } }
  @media (min-width: 768px) {
    .navbar-go {
      min-height: 67px; } }
  .navbar-go .dropdown-menu {
    background: #716f70;
    border: none; }
    @media (min-width: 320px) {
      .navbar-go .dropdown-menu {
        text-align: left; } }
    @media (min-width: 768px) {
      .navbar-go .dropdown-menu {
        text-align: right; } }
    .navbar-go .dropdown-menu a {
      color: white;
      font-size: 2rem; }
      @media (min-width: 320px) {
        .navbar-go .dropdown-menu a {
          color: #231f20; } }
      @media (min-width: 768px) {
        .navbar-go .dropdown-menu a {
          color: white; } }
      .navbar-go .dropdown-menu a:hover {
        color: white;
        background: #646263; }
        @media (min-width: 320px) {
          .navbar-go .dropdown-menu a:hover {
            color: #231f20; } }
        @media (min-width: 768px) {
          .navbar-go .dropdown-menu a:hover {
            color: white; } }

.navbar-go .navbar-brand {
  height: 67px;
  padding: 21px 15px; }
  @media (min-width: 320px) {
    .navbar-go .navbar-brand {
      height: 34px;
      padding: 8px 10px; } }
  @media (min-width: 768px) {
    .navbar-go .navbar-brand {
      height: 67px;
      float: left;
      line-height: 45px; } }
  .navbar-go .navbar-brand img {
    display: inline-block; }

.navbar-go .navbar-text {
  color: #231f20; }

.navbar-go .navbar-nav > li > a {
  color: #231f20;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'SohoGothicPro'; }
  @media (min-width: 320px) {
    .navbar-go .navbar-nav > li > a {
      padding: 10px; } }
  @media (min-width: 768px) {
    .navbar-go .navbar-nav > li > a {
      padding: 20px 15px 27px 15px; } }

.navbar-go .navbar-nav > li > a:focus, .navbar-go .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent; }

.navbar-go .navbar-nav > .active > a, .navbar-go .navbar-nav > .active > a:focus, .navbar-go .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #e7e7e7; }

.navbar-go .navbar-nav > .disabled > a, .navbar-go .navbar-nav > .disabled > a:focus, .navbar-go .navbar-nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent; }

.navbar-go .navbar-toggle {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0; }

.navbar-go .navbar-toggle:focus, .navbar-go .navbar-toggle:hover {
  background-color: none; }

.navbar-go .navbar-toggle .icon-bar {
  background-color: #f89c28;
  width: 26px;
  height: 4px; }

.navbar-go .navbar-collapse, .navbar-go .navbar-form {
  border-color: #e7e7e7;
  text-align: left; }

.navbar-go .navbar-nav > .open > a, .navbar-go .navbar-nav > .open > a:focus, .navbar-go .navbar-nav > .open > a:hover {
  background-color: #f0f1f1; }

.homepage h2 {
  font-family: 'SohoGothicPro-Medium';
  font-weight: 400; }
.homepage p {
  font-size: 2rem; }
.homepage .clearfix {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }

.homepage-mobile p {
  font-size: 2rem; }
@media (min-width: 320px) {
  .homepage-mobile .container {
    width: 320px; } }
@media (min-width: 480px) {
  .homepage-mobile .container {
    width: 480px; } }
@media (min-width: 768px) {
  .homepage-mobile .container {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center; } }
.homepage-mobile .navbar-go .container {
  width: 100%; }
  @media (min-width: 768px) {
    .homepage-mobile .navbar-go .container {
      display: block; } }
.homepage-mobile .door {
  background: #fff; }
  .homepage-mobile .door img {
    background: url("../img/home-mobile/backgroundGradient.png") repeat-x bottom; }

.home-slide {
  background: #fff; }
  .home-slide .img-holder {
    background-size: cover;
    width: 100%; }
    @media (min-width: 320px) {
      .home-slide .img-holder {
        height: 212px; } }
    @media (min-width: 480px) {
      .home-slide .img-holder {
        height: 260px; } }
    @media (min-width: 768px) {
      .home-slide .img-holder {
        height: 320px; } }
    @media (min-width: 992px) {
      .home-slide .img-holder {
        height: 412px; } }
    @media (min-width: 1280px) {
      .home-slide .img-holder {
        height: 512px; } }
  .home-slide .carousel-caption {
    background: rgba(248, 151, 28, 0.94);
    bottom: 35%;
    margin-bottom: -100px;
    text-shadow: none; }
    @media (min-width: 320px) {
      .home-slide .carousel-caption {
        right: 0;
        left: 0;
        position: relative;
        bottom: 0;
        margin-bottom: 0px;
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media (min-width: 992px) {
      .home-slide .carousel-caption {
        right: 30%;
        left: 30%;
        padding-left: 20px;
        padding-right: 20px;
        bottom: 38%;
        margin-bottom: -100px;
        position: absolute; } }
    @media (min-width: 1280px) {
      .home-slide .carousel-caption {
        bottom: 35%; } }
    .home-slide .carousel-caption h3 {
      margin-top: 0;
      font-family: 'SohoGothicPro-Medium';
      font-weight: 400; }
      @media (min-width: 320px) {
        .home-slide .carousel-caption h3 {
          margin-top: 0; } }
      @media (min-width: 768px) {
        .home-slide .carousel-caption h3 {
          margin-top: 2rem; } }
    .home-slide .carousel-caption p {
      font-size: 2rem; }
  @media (min-width: 320px) {
    .home-slide .carousel-indicators {
      bottom: 42%; } }
  @media (min-width: 480px) {
    .home-slide .carousel-indicators {
      bottom: 38%; } }
  @media (min-width: 992px) {
    .home-slide .carousel-indicators {
      bottom: 10px; } }
  .home-slide .carousel-indicators li {
    background: white;
    margin: 1px 10px;
    width: 13px;
    height: 13px;
    border-radius: 13px; }
  .home-slide .carousel-indicators .active {
    background: #f8971c;
    border-color: #f8971c;
    margin: 0px 10px;
    width: 15px;
    height: 15px; }

.intro-butler {
  padding: 17rem 0;
  background: white;
  position: relative; }
  @media (min-width: 320px) {
    .intro-butler {
      padding: 4rem 0; } }
  @media (min-width: 768px) {
    .intro-butler {
      padding: 7rem 0; } }
  @media (min-width: 1280px) {
    .intro-butler {
      padding: 17rem 0; } }
  .intro-butler h1 {
    font-family: 'SohoGothicPro';
    font-weight: 100;
    font-size: 7rem;
    color: #f8971c;
    margin-bottom: 3rem; }
    @media (min-width: 320px) {
      .intro-butler h1 {
        font-size: 5rem; } }
    @media (min-width: 1280px) {
      .intro-butler h1 {
        font-size: 7rem; } }
  .intro-butler p {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .intro-butler img {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .intro-butler .scroll {
    position: absolute;
    left: 50%;
    top: 7%;
    margin-left: -24px;
    animation-duration: 3s;
    animation-delay: 1s; }

@media (min-width: 320px) {
  .door {
    background: #fff; } }
@media (min-width: 1280px) {
  .door {
    background: #f6f6f6; } }
.door .door-holders {
  background: white;
  position: relative; }
.door img.img-door {
  left: -10px;
  position: relative;
  z-index: 2; }
.door .door-holder {
  background: #f6f6f6; }
.door img.img-computer {
  position: absolute;
  bottom: -35%;
  left: 50%;
  margin-left: 244px;
  z-index: 3; }
.door img.bulter {
  position: fixed;
  left: 50%;
  top: 469px;
  margin-left: -63px;
  z-index: 1; }

.walking {
  padding: 30rem 0 20rem; }
  @media (min-width: 320px) {
    .walking {
      padding: 7rem 0;
      background: #f1f1f2; } }
  @media (min-width: 1280px) {
    .walking {
      padding: 30rem 0 20rem;
      background: none; } }
  .walking .img-walking {
    position: relative; }
  .walking .img-walking-pof {
    position: fixed;
    top: 233px;
    left: 146px; }
  .walking .infos {
    padding-top: 25rem; }
    @media (min-width: 320px) {
      .walking .infos {
        padding-top: 0rem; } }
    @media (min-width: 1280px) {
      .walking .infos {
        padding-top: 25rem; } }
  .walking .hero-holder {
    z-index: 2; }
  .walking .bulter {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -66px;
    z-index: 1; }
  .walking .hero-rack {
    position: relative;
    top: 150px;
    left: -105px;
    z-index: 3;
    width: 176px; }
    .walking .hero-rack .shadow {
      position: absolute;
      bottom: 0;
      left: 2px; }
    .walking .hero-rack .box {
      position: absolute;
      top: 27px;
      left: 40px;
      z-index: 3; }
    .walking .hero-rack .rack {
      z-index: 3;
      position: relative; }
  .walking .infos-holder-pof {
    width: 290px;
    position: fixed;
    top: 356px;
    left: 868px; }
  .walking .infos-holder {
    position: relative; }
  .walking .img-mobile {
    margin-top: 4rem; }

.picking {
  padding: 20rem 0 20rem; }
  @media (min-width: 320px) {
    .picking {
      padding: 7rem 0 0 0; } }
  @media (min-width: 1280px) {
    .picking {
      padding: 20rem 0; } }
  .picking .first-intro .infos {
    padding-top: 0rem;
    margin-top: -5rem;
    position: relative; }
  .picking .first-intro .img-holder {
    background: #eff4f4;
    padding-bottom: 15rem;
    padding-right: 0; }
    .picking .first-intro .img-holder img {
      margin-top: -17rem;
      display: inline-block; }
  .picking .second-intro .img-holder:first-child {
    background: #fff4e9;
    padding-bottom: 15rem;
    padding-left: 0; }
  .picking .second-intro img {
    margin-top: -3rem; }

.analysis {
  position: relative;
  padding: 10rem 0; }
  @media (min-width: 320px) {
    .analysis {
      padding: 7rem 0;
      background: #f1f1f2; } }
  @media (min-width: 1280px) {
    .analysis {
      padding: 10rem 0;
      background: none; } }
  .analysis .clearfix {
    position: relative; }
  .analysis .infos {
    left: 57%;
    top: 17%;
    position: absolute;
    z-index: 3; }
  .analysis img {
    z-index: 2;
    position: relative; }
  .analysis .img-monitor {
    position: fixed;
    z-index: 3;
    left: 50%;
    margin-left: -24px;
    top: 490px; }
  .analysis .img-monitor2 {
    position: absolute;
    top: 399px;
    left: 735px; }
  .analysis .img-monitor3 {
    position: absolute;
    top: 399px;
    left: 309px; }
  .analysis .img-mobile {
    margin-top: 4rem; }

.stock {
  padding: 20rem 0 20rem; }
  @media (min-width: 320px) {
    .stock {
      padding: 5rem 0 7rem; } }
  @media (min-width: 1280px) {
    .stock {
      padding: 20rem 0; } }
  .stock .infos {
    padding-top: 20rem; }

@media (min-width: 320px) {
  .space {
    padding: 5rem 0 8rem;
    background: #f1f1f2; } }
@media (min-width: 1280px) {
  .space {
    padding: 0;
    background: none; } }
.space .clearfix {
  padding: 1rem 0 2rem; }
.space .img-holder {
  padding-left: 0;
  padding-right: 0;
  font-size: 70px; }
.space img {
  display: inline-block; }
.space .img-monitor {
  position: absolute;
  top: 223px;
  z-index: -1; }
.space .img-monitor-1 {
  left: 360px; }
.space .img-monitor-2 {
  left: 168px; }
.space .img-monitor-3 {
  right: 322px; }
.space .img-mobile {
  margin-top: 4rem; }

.growth {
  padding: 20rem 0 20rem; }
  @media (min-width: 320px) {
    .growth {
      padding: 4rem 0 8rem; } }
  @media (min-width: 1280px) {
    .growth {
      padding: 20rem 0; } }
  .growth .item {
    background: #f6f6f6 url(../img/home/line-vertical.png) repeat-y center center;
    padding-top: 30rem;
    position: relative; }
  .growth .img-holder {
    padding-top: 20rem;
    position: relative; }
    .growth .img-holder img.center-block {
      z-index: 2;
      position: relative; }
  .growth .img-monitor {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 50%;
    margin-left: -63px; }
  .growth .img-mobile {
    margin-top: 4rem; }

@media (min-width: 320px) {
  .charging {
    padding: 4rem 0 8rem;
    background: #f1f1f2; } }
@media (min-width: 1280px) {
  .charging {
    padding: 0;
    background: none; } }
.charging .first-intro .infos {
  padding-top: 4rem; }
.charging .second-charge {
  padding-top: 15rem; }
  .charging .second-charge .line-horizontal {
    width: 60%;
    margin-left: 50%; }
.charging .state {
  position: relative; }
  .charging .state img {
    position: absolute;
    top: -250px;
    left: 50%;
    margin-left: -62px; }
  .charging .state .img-charger {
    top: -50px;
    margin-left: -52px; }
.charging .hero-holder {
  position: relative; }
.charging .hero-rack {
  position: absolute;
  top: -370px;
  left: 50%;
  margin-left: -85px; }
  .charging .hero-rack .shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -87px;
    z-index: 2; }
  .charging .hero-rack .box {
    position: absolute;
    top: 27px;
    left: 50%;
    margin-left: -48px;
    z-index: 3; }
  .charging .hero-rack .bulter {
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -63px;
    z-index: 1; }
  .charging .hero-rack .rack {
    position: relative;
    z-index: 2; }
.charging .img-mobile {
  margin-top: 4rem; }

.line-horizontal {
  background-image: url("../img/home/line-horizontal.png");
  background-position: left center;
  background-repeat: repeat-x;
  display: block;
  height: 3px; }

.space-hack {
  background: #f6f6f6;
  padding: 5rem 0; }

.motor {
  position: absolute;
  left: 50%;
  margin-left: -120px; }

.motor-bot {
  bottom: 0; }

.motor-top {
  top: 0; }

.intro-sorter {
  background: #f6f6f6 url(../img/home/conveyorBeltBlack.png) repeat-y center center; }
  @media (min-width: 320px) {
    .intro-sorter {
      background: #6d6e70;
      color: #fff;
      padding: 5rem 0 7rem; } }
  @media (min-width: 1280px) {
    .intro-sorter {
      background: #f6f6f6 url(../img/home/conveyorBeltBlack.png) repeat-y center center;
      color: #333; } }
  .intro-sorter .infos {
    position: relative;
    padding: 30rem 0 15rem;
    z-index: 2; }
    .intro-sorter .infos:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.15);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.71) 51%, white 100%);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.71) 51%, white 100%);
      background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.71) 51%, white 100%);
      opacity: .9;
      z-index: 1;
      background-blend-mode: multiply; }
  .intro-sorter .holder {
    z-index: 2; }
  .intro-sorter h1 {
    font-family: 'SohoGothicPro';
    font-size: 7rem;
    font-weight: 100;
    text-transform: uppercase; }
    @media (min-width: 320px) {
      .intro-sorter h1 {
        font-size: 5rem;
        margin-bottom: 2rem; } }
    @media (min-width: 1280px) {
      .intro-sorter h1 {
        font-size: 7rem;
        margin-bottom: 1rem; } }
  .intro-sorter .box {
    position: fixed;
    top: 22.5rem;
    width: 100%;
    left: 0;
    z-index: 1; }
    .intro-sorter .box img {
      display: block;
      margin-top: 10rem; }
  .intro-sorter .motor {
    margin-left: -122px;
    margin-top: -10px; }

.process-sorter {
  background: #6d6e70 url(../img/home/conveyorBeltBlack.png) repeat-y center center;
  min-height: 1000px;
  color: white; }
  .process-sorter .item {
    padding: 7rem 0;
    position: relative; }
  .process-sorter .blueLight {
    position: absolute;
    left: 50%;
    margin-left: -151px;
    z-index: 3;
    opacity: 0.5;
    margin-top: -0px; }
  .process-sorter .wHScan {
    position: absolute;
    left: 50%;
    margin-left: -131px;
    z-index: 3;
    margin-top: -155px; }
  .process-sorter .dimension-item {
    padding: 20rem 0 14rem; }
  .process-sorter .faster-item {
    background: url(../img/home/conveyorBeltWhite.png) repeat-y center center;
    padding: 15rem 0; }
    .process-sorter .faster-item .scan2 {
      position: absolute;
      left: 50%;
      margin-left: -160px;
      z-index: 3;
      margin-top: -80px; }
    .process-sorter .faster-item .motor-bot {
      bottom: -41px; }
    .process-sorter .faster-item .motor-top {
      top: -20px; }
  .process-sorter .modular-item {
    padding-bottom: 85rem; }
    .process-sorter .modular-item .armSingleLeft {
      position: absolute;
      left: 50%;
      top: 11.2%;
      margin-left: -143px;
      z-index: 5; }
    .process-sorter .modular-item .armRight {
      position: absolute;
      right: 50%;
      top: 65%;
      margin-right: -408px; }
    .process-sorter .modular-item .boxBeige {
      position: absolute;
      left: 50%;
      top: 14%;
      margin-left: -47px; }
    .process-sorter .modular-item .armSingleRight {
      position: absolute;
      right: 50%;
      top: 67%;
      margin-right: -143px;
      z-index: 5; }
    .process-sorter .modular-item .boxOrange {
      position: absolute;
      left: 50%;
      top: 66%;
      margin-left: -48px; }
    .process-sorter .modular-item .delivery {
      position: absolute;
      right: 50%;
      top: 57.5%;
      margin-right: -390px; }
  .process-sorter .try-item {
    padding: 30rem 0 25rem; }
    .process-sorter .try-item .armLeft {
      top: 18%; }
    .process-sorter .try-item .armSingleLeft {
      position: absolute;
      left: 50%;
      top: 20%;
      margin-left: -143px;
      z-index: 5; }
    .process-sorter .try-item .boxGrey {
      position: absolute;
      left: 50%;
      top: 22%;
      margin-left: -38px; }
  .process-sorter .armLeft {
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -408px; }

.sorter-elements {
  min-height: 20rem;
  color: #fff; }
  @media (min-width: 320px) {
    .sorter-elements {
      background: #6d6e70 url(../img/home-mobile/conveyorBeltBlack.jpg) repeat-y center; } }
  @media (min-width: 768px) {
    .sorter-elements {
      background: #6d6e70; } }
  .sorter-elements .container {
    display: block; }
  @media (min-width: 768px) {
    .sorter-elements .clearfix {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 365px; }
      .sorter-elements .clearfix:first-child {
        min-height: inherit; } }
  .sorter-elements .bg-overlay {
    position: relative;
    z-index: 2; }
    @media (min-width: 320px) {
      .sorter-elements .bg-overlay {
        background: rgba(109, 110, 112, 0.6);
        padding: 2rem 0 3rem;
        margin: 3rem 0; } }
    @media (min-width: 768px) {
      .sorter-elements .bg-overlay {
        background: none;
        padding: 2rem 0;
        margin: 0; } }
  .sorter-elements .img-holder {
    padding: 2rem 0;
    overflow: hidden; }
    @media (min-width: 320px) {
      .sorter-elements .img-holder {
        background: none; } }
    @media (min-width: 768px) {
      .sorter-elements .img-holder {
        background: #6d6e70 url(../img/home-mobile/conveyorBeltBlack.jpg) repeat-y center;
        padding-bottom: 200rem;
        margin-bottom: -200rem; } }
  .sorter-elements .motor1 {
    position: relative;
    top: -0.8rem; }
  .sorter-elements .motor2 {
    position: relative;
    left: 0.7rem; }
  .sorter-elements .scan2 {
    position: relative;
    left: 0rem; }
  .sorter-elements .sort1 {
    position: relative;
    z-index: 0; }
    @media (min-width: 320px) {
      .sorter-elements .sort1 {
        left: -10.7rem; } }
    @media (min-width: 480px) {
      .sorter-elements .sort1 {
        left: -1.9rem; } }
    @media (min-width: 768px) {
      .sorter-elements .sort1 {
        left: -6.2rem; } }
  .sorter-elements .sort2 {
    position: relative; }
    @media (min-width: 320px) {
      .sorter-elements .sort2 {
        left: 13.2rem; } }
    @media (min-width: 480px) {
      .sorter-elements .sort2 {
        left: 22rem; } }
    @media (min-width: 768px) {
      .sorter-elements .sort2 {
        left: 15.3rem; } }

.email-footer {
  background: #f8971c;
  padding: 1rem 0 3rem 0;
  color: white;
  z-index: 4;
  position: relative; }
  .email-footer .container {
    display: block; }
  .email-footer p {
    margin: 0;
    font-size: 2.5rem;
    padding: 2rem 0; }
    @media (min-width: 320px) {
      .email-footer p {
        font-size: 2rem; } }
    @media (min-width: 1280px) {
      .email-footer p {
        font-size: 2.5rem; } }
    .email-footer p.thanks {
      padding-bottom: 0; }
  .email-footer .blinking-cursor {
    top: 0.1rem;
    position: relative; }
  .email-footer .form-control {
    background: #fff;
    font-size: 2.2rem;
    color: #000;
    border: none;
    outline: 0;
    border-radius: 0; }
    @media (min-width: 320px) {
      .email-footer .form-control {
        font-size: 1.8rem;
        height: 4rem; } }
    @media (min-width: 1280px) {
      .email-footer .form-control {
        font-size: 2.2rem;
        height: 5rem; } }
  .email-footer .btn-link {
    color: #fff;
    font-size: 2.5rem;
    padding-top: 6px;
    padding-bottom: 6px;
    border: solid 1px #fff;
    border-radius: 0;
    height: 50px; }
    @media (min-width: 320px) {
      .email-footer .btn-link {
        font-size: 2rem;
        height: 4rem; } }
    @media (min-width: 1280px) {
      .email-footer .btn-link {
        font-size: 2.5rem;
        height: 5rem; } }

.main-footer {
  background: #1e1e1e;
  color: #bbb;
  padding: 4rem 8rem 3rem 8rem;
  z-index: 4;
  position: relative; }
  @media (min-width: 320px) {
    .main-footer {
      padding: 3rem 1rem 3rem 1rem; } }
  @media (min-width: 1280px) {
    .main-footer {
      padding: 4rem 8rem 3rem 8rem; } }
  .main-footer .logo-footer {
    padding: 4.5rem 0 2rem; }
    @media (min-width: 320px) {
      .main-footer .logo-footer {
        padding-top: 4.5rem; } }
    @media (min-width: 768px) {
      .main-footer .logo-footer {
        padding-top: 3.5rem; } }
  .main-footer h3 {
    color: #bbb;
    font-weight: 600; }
    @media (min-width: 320px) {
      .main-footer h3 {
        margin-bottom: 2rem; } }
    .main-footer h3 small {
      margin-top: 0.7rem; }
  .main-footer h4 {
    line-height: 1.4;
    margin-top: 0; }
  .main-footer hr {
    margin: 3rem 1.5rem; }
    @media (min-width: 320px) {
      .main-footer hr {
        margin: 2rem 1.5rem 0.5rem 1.5rem; } }
    @media (min-width: 768px) {
      .main-footer hr {
        margin: 3rem 1.5rem; } }
  .main-footer ul {
    font-size: 1.8rem; }
    .main-footer ul li {
      margin-bottom: 0.7rem; }
  .main-footer p {
    font-size: 1.5rem; }
  @media (min-width: 320px) {
    .main-footer .item {
      margin-bottom: 3rem; } }
  @media (min-width: 768px) {
    .main-footer .item {
      margin-bottom: 1.5rem; } }
  .main-footer .item h4 {
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .main-footer .item h4 {
        margin-bottom: rem; } }
  .main-footer .item p {
    margin-top: 0; }

.main-content {
  padding-top: 67px;
  min-height: 1000px; }
  @media (min-width: 320px) {
    .main-content {
      padding-top: 40px; } }
  @media (min-width: 992px) {
    .main-content {
      padding-top: 67px; } }

.main-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  padding: 5rem 1rem;
  color: #fff; }
  .main-title h1 {
    margin-top: 0;
    font-weight: 100;
    font-family: 'SohoGothicPro'; }
    @media (min-width: 320px) {
      .main-title h1 {
        font-size: 3.5rem; } }
    @media (min-width: 768px) {
      .main-title h1 {
        font-size: 4rem; } }
    @media (min-width: 992px) {
      .main-title h1 {
        font-size: 6rem; } }
  @media (min-width: 992px) {
    .main-title p {
      line-height: 1.2;
      opacity: 0.8; } }

.people__list {
  padding: 8rem 0 6rem; }
  @media (min-width: 320px) {
    .people__list {
      padding: 4rem 0 2rem; } }
  @media (min-width: 992px) {
    .people__list {
      padding: 8rem 0 6rem; } }
  .people__list .item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
    .people__list .item:hover img, .people__list .item.join-item img {
      -webkit-filter: none;
      filter: none; }
    .people__list .item .infos {
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #fff;
      padding: 0 1.2rem; }
    .people__list .item h4 {
      margin: 0; }
    .people__list .item img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
      -webkit-transition: All .3s ease;
      -moz-transition: All .3s ease;
      -o-transition: All .3s ease;
      -ms-transition: All .3s ease; }

.people__investor {
  background: #F3F3F3;
  padding: 13rem 0; }
  @media (min-width: 320px) {
    .people__investor {
      padding: 6rem 0 5rem; } }
  @media (min-width: 992px) {
    .people__investor {
      padding: 13rem 0; } }
  .people__investor h3 {
    margin-top: 0;
    font-weight: 100;
    font-family: 'SohoGothicPro';
    margin-bottom: 2rem; }
    @media (min-width: 320px) {
      .people__investor h3 {
        font-size: 3.5rem; } }
    @media (min-width: 768px) {
      .people__investor h3 {
        font-size: 4rem; } }
    @media (min-width: 992px) {
      .people__investor h3 {
        font-size: 6rem; } }
  @media (min-width: 992px) {
    .people__investor p {
      line-height: 1.2;
      opacity: 0.8; } }
  @media (min-width: 320px) {
    .people__investor .people__investor__imgs {
      padding-top: 3rem;
      padding-bottom: 4rem; } }
  @media (min-width: 768px) {
    .people__investor .people__investor__imgs {
      padding-top: 4rem;
      padding-bottom: 3rem; } }
  @media (min-width: 992px) {
    .people__investor .people__investor__imgs {
      padding-top: 8rem;
      padding-bottom: 2rem; } }

#mobile-ver {
  width: 100%;
  position: fixed;
  z-index: 1200;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #fff;
  padding: 15rem 0; }

.blinking-cursor {
  color: #fff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite; }

@keyframes "blink" {
  from, to {
    color: transparent; }

  50% {
    color: #fff; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }

  50% {
    color: #fff; } }

@-webkit-keyframes "blink" {
  from, to {
    color: transparent; }

  50% {
    color: #fff; } }

@-ms-keyframes "blink" {
  from, to {
    color: transparent; }

  50% {
    color: #fff; } }

@-o-keyframes "blink" {
  from, to {
    color: transparent; }

  50% {
    color: #fff; } }

.carousel.fade {
  opacity: 1; }

.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1; }

.carousel.fade .item:first-child {
  top: auto;
  position: relative; }

.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2; }

.load-holder {
  width: 100%;
  position: fixed;
  z-index: 1300;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .load-holder#div-loading {
    background: #fff; }

.square-spin {
  -webkit-animation: loaded 0.5s;
  -moz-animation: loaded 0.5s;
  -o-animation: loaded 0.5s;
  animation: loaded 0.5s; }
  .square-spin > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 50px;
    height: 50px;
    background: #F8971C;
    border: 1px solid #f9a235;
    -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
    animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite; }

@-webkit-keyframes loaded {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes loaded {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes loaded {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes loaded {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0); } }

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0); } }

.load-block {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 70px;
  height: 70px; }

.block-item {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #f8971c;
  transition: all .8s;
  -webkit-animation: rot 5s linear infinite;
  animation: rot 5s linear infinite; }

.block-item:nth-child(1) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.block-item:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation: rot 12s linear infinite;
  animation: rot 15s linear infinite; }

.block-item:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.block-item:nth-child(4) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.block-item:nth-child(5) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.block-item:nth-child(6) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation: rot 7s linear infinite;
  animation: rot 7s linear infinite; }

.block-item:nth-child(7) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.block-item:nth-child(8) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation: rot 6s linear infinite;
  animation: rot 6s linear infinite; }

.block-item:nth-child(9) {
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
  -webkit-animation: rot 8s linear infinite;
  animation: rot 8s linear infinite; }

@-webkit-keyframes rot {
  0% {
    transform: none; }

  20% {
    transform: rotateZ(-90deg) rotateY(180deg); }

  40% {
    background: chocolate;
    transform: none; }

  60% {
    background: white; }

  80% {
    background: cornflowerblue; }

  90% {
    transform: none;
    background: #222; } }

@keyframes rot {
  0% {
    transform: none; }

  20% {
    transform: rotateZ(-90deg) rotateY(180deg); }

  40% {
    background: chocolate;
    transform: none; }

  60% {
    background: white; }

  80% {
    background: cornflowerblue; }

  90% {
    transform: none;
    background: #222; } }
