html {
  font-size: 62.5%; }
  @media (min-width: 320px) {
    html {
      font-size: 50%; } }
  @media (min-width: 480px) {
    html {
      font-size: 55%; } }
  @media (min-width: 768px) {
    html {
      font-size: 62.5%; } }

body {
  background: #f6f6f6 url(../img/home/line-vertical.png) repeat-y center center;
  font-family: 'ProximaNova';
  color: #231f20;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.525;
  min-height: 3000px; }

.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 1rem; }

.h1, h1 {
  font-size: 36px;
  font-size: 3.6rem; }

.h2, h2 {
  font-size: 30px;
  font-size: 3rem; }

.h3, h3 {
  font-size: 24px;
  font-size: 2.4rem; }

.h4, h4 {
  font-size: 18px;
  font-size: 1.8rem; }

.h5, h5 {
  font-size: 14px;
  font-size: 1.4rem; }

.h6, h6 {
  font-size: 12px;
  font-size: 1.2rem; }

.orange {
  color: #f8971c; }

.mb15 {
  margin-bottom: 15px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

a {
  color: #f8971c;
  -webkit-transition: All .3s ease;
  -moz-transition: All .3s ease;
  -o-transition: All .3s ease;
  -ms-transition: All .3s ease; }
  a:hover {
    color: #da7d07; }

.form-control {
  border: 1px solid #bfd8d8;
  box-shadow: none;
  color: #4e5b64;
  height: 50px; }
  .form-control:hover {
    border: 1px solid #4FBBBC; }

.form-group {
  margin-bottom: 20px; }

.checkbox, .radio {
  margin-bottom: 15px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.navbar-go {
  background-color: white;
  border: none; }
  .navbar-go .dropdown-menu {
    background: #716f70;
    text-align: right;
    border: none; }
    .navbar-go .dropdown-menu a {
      color: white;
      font-size: 2rem; }
      .navbar-go .dropdown-menu a:hover {
        color: white;
        background: none; }

.navbar-go .navbar-text {
  color: #231f20; }

.navbar-go .navbar-nav > li > a {
  color: #231f20;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'SohoGothicPro'; }

.navbar-go .navbar-nav > li > a:focus, .navbar-go .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent; }

.navbar-go .navbar-nav > .active > a, .navbar-go .navbar-nav > .active > a:focus, .navbar-go .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #e7e7e7; }

.navbar-go .navbar-nav > .disabled > a, .navbar-go .navbar-nav > .disabled > a:focus, .navbar-go .navbar-nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent; }

.navbar-go .navbar-toggle {
  border-color: #ddd; }

.navbar-go .navbar-toggle:focus, .navbar-go .navbar-toggle:hover {
  background-color: #ddd; }

.navbar-go .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-go .navbar-collapse, .navbar-go .navbar-form {
  border-color: #e7e7e7; }

.navbar-go .navbar-nav > .open > a, .navbar-go .navbar-nav > .open > a:focus, .navbar-go .navbar-nav > .open > a:hover {
  background-color: #f0f1f1; }

.home-slide .img-holder {
  background-size: cover;
  width: 100%;
  padding-bottom: 40%;
  height: 1%; }
  @media (min-width: 320px) {
    .home-slide .img-holder {
      padding-bottom: 80%; } }
  @media (min-width: 480px) {
    .home-slide .img-holder {
      padding-bottom: 50%; } }
  @media (min-width: 768px) {
    .home-slide .img-holder {
      padding-bottom: 40%; } }
.home-slide .carousel-caption {
  background: rgba(248, 151, 28, 0.9);
  bottom: 50%;
  margin-bottom: -100px; }
  @media (min-width: 320px) {
    .home-slide .carousel-caption {
      right: 5%;
      left: 5%;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .home-slide .carousel-caption {
      right: 30%;
      left: 30%;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 992px) {
    .home-slide .carousel-caption {
      right: 35%;
      left: 35%; } }
  .home-slide .carousel-caption h3 {
    margin-top: 0; }
    @media (min-width: 320px) {
      .home-slide .carousel-caption h3 {
        margin-top: 0; } }
    @media (min-width: 768px) {
      .home-slide .carousel-caption h3 {
        margin-top: 2rem; } }
.home-slide .carousel-indicators li {
  background: white; }
.home-slide .carousel-indicators .active {
  background: #f8971c;
  border-color: #f8971c; }

.intro-butler {
  padding: 17rem 0;
  background: white; }
  @media (min-width: 320px) {
    .intro-butler {
      padding: 7rem 0; } }
  @media (min-width: 768px) {
    .intro-butler {
      padding: 17rem 0; } }
  .intro-butler h1 {
    font-family: 'SohoGothicPro';
    font-weight: 100;
    font-size: 7rem;
    color: #f8971c;
    margin-bottom: 3rem; }
    @media (min-width: 320px) {
      .intro-butler h1 {
        font-size: 5rem; } }
    @media (min-width: 768px) {
      .intro-butler h1 {
        font-size: 7rem; } }
  .intro-butler p {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .intro-butler img {
    margin-top: 2rem; }

.door {
  background: #f6f6f6; }
  .door .clearfix {
    width: 100%;
    background: white;
    position: relative; }
  .door img.img-door {
    background: #f6f6f6;
    left: -10px;
    position: relative; }
  .door img.img-computer {
    position: absolute;
    bottom: -35%;
    left: 50%;
    margin-left: 244px; }

.walking {
  padding: 30rem 0 15rem; }
  .walking .infos {
    padding-top: 25rem; }

.picking {
  padding: 20rem 0 40rem; }
  .picking .first-intro .infos {
    padding-top: 20rem; }
  .picking .first-intro .img-holder {
    background: #eff4f4;
    padding-bottom: 15rem;
    padding-right: 0; }
    .picking .first-intro .img-holder img {
      margin-top: -17rem;
      display: inline-block; }
  .picking .second-intro .img-holder:first-child {
    background: #fff4e9;
    padding-bottom: 15rem;
    padding-left: 0; }
  .picking .second-intro img {
    margin-top: -3rem; }

.analysis {
  position: relative;
  padding: 10rem 0 40rem; }
  .analysis .infos {
    left: 55%;
    top: 20%;
    position: absolute; }

.stock {
  padding: 20rem 0 30rem; }
  .stock .infos {
    padding-top: 20rem; }

.space .clearfix {
  padding: 1rem 0 2rem; }
.space .img-holder {
  padding-left: 0;
  padding-right: 0;
  font-size: 70px; }
.space img {
  display: inline-block; }

.growth {
  padding: 30rem 0 40rem; }
  .growth .item {
    background: #f6f6f6 url(../img/home/line-vertical.png) repeat-y center center;
    padding-top: 30rem; }
  .growth .img-holder {
    padding-top: 20rem; }

.charging .second-charge {
  padding-top: 30rem; }
  .charging .second-charge .line-horizontal {
    width: 322px;
    margin-left: 215px; }
.charging .state {
  position: relative; }
  .charging .state img {
    position: absolute;
    top: -250px; }

.line-horizontal {
  background-image: url("../img/home/line-horizontal.png");
  background-position: left center;
  background-repeat: repeat-x;
  display: block;
  height: 3px; }

.space-hack {
  background: #f6f6f6;
  padding: 15rem 0; }

.intro-sorter {
  background: #f6f6f6 url(../img/home/conveyorBeltBlack.png) repeat-y center center; }
  .intro-sorter .infos {
    position: relative;
    padding: 24rem 0 10rem;
    z-index: 2; }
    .intro-sorter .infos:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent, white);
      background-image: linear-gradient(transparent, white);
      opacity: .9;
      z-index: 1;
      background-blend-mode: multiply; }
  .intro-sorter .holder {
    z-index: 2; }
  .intro-sorter h1 {
    font-family: 'SohoGothicPro';
    font-size: 7rem;
    font-weight: 100;
    text-transform: uppercase; }

.process-sorter {
  background: #6d6e70 url(../img/home/conveyorBeltBlack.png) repeat-y center center;
  min-height: 1000px;
  color: white; }
  .process-sorter .item {
    padding: 7rem 0; }

.load-holder {
  width: 100%;
  position: fixed;
  z-index: 1300;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100%; }
  .load-holder#div-loading {
    background: #fff; }

.load-block {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 70px;
  height: 70px; }

.block-item {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #05b2e9;
  transition: all .8s;
  -webkit-animation: rot 5s linear infinite;
  animation: rot 5s linear infinite; }

.block-item:nth-child(1) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.block-item:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation: rot 12s linear infinite;
  animation: rot 15s linear infinite; }

.block-item:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.block-item:nth-child(4) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.block-item:nth-child(5) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.block-item:nth-child(6) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation: rot 7s linear infinite;
  animation: rot 7s linear infinite; }

.block-item:nth-child(7) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.block-item:nth-child(8) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation: rot 6s linear infinite;
  animation: rot 6s linear infinite; }

.block-item:nth-child(9) {
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
  -webkit-animation: rot 8s linear infinite;
  animation: rot 8s linear infinite; }

@-webkit-keyframes rot {
  0% {
    transform: none; }

  20% {
    transform: rotateZ(-90deg) rotateY(180deg); }

  40% {
    background: chocolate;
    transform: none; }

  60% {
    background: white; }

  80% {
    background: cornflowerblue; }

  90% {
    transform: none;
    background: #222; } }

@keyframes rot {
  0% {
    transform: none; }

  20% {
    transform: rotateZ(-90deg) rotateY(180deg); }

  40% {
    background: chocolate;
    transform: none; }

  60% {
    background: white; }

  80% {
    background: cornflowerblue; }

  90% {
    transform: none;
    background: #222; } }
