@font-face {
  font-family: 'SohoGothicPro-Thin';
  src: url('SohoGothicPro-Thin.eot');
  src: url('SohoGothicPro-Thin.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Thin.woff2') format('woff2'),
       url('SohoGothicPro-Thin.woff') format('woff'),
       url('SohoGothicPro-Thin.ttf') format('truetype'),
       url('SohoGothicPro-Thin.svg#SohoGothicPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Light';
  src: url('SohoGothicPro-Light.eot');
  src: url('SohoGothicPro-Light.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Light.woff2') format('woff2'),
       url('SohoGothicPro-Light.woff') format('woff'),
       url('SohoGothicPro-Light.ttf') format('truetype'),
       url('SohoGothicPro-Light.svg#SohoGothicPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-ExtraBold';
  src: url('SohoGothicPro-ExtraBold.eot');
  src: url('SohoGothicPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-ExtraBold.woff2') format('woff2'),
       url('SohoGothicPro-ExtraBold.woff') format('woff'),
       url('SohoGothicPro-ExtraBold.ttf') format('truetype'),
       url('SohoGothicPro-ExtraBold.svg#SohoGothicPro-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-ExtraBoldIt';
  src: url('SohoGothicPro-ExtraBoldIt.eot');
  src: url('SohoGothicPro-ExtraBoldIt.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-ExtraBoldIt.woff2') format('woff2'),
       url('SohoGothicPro-ExtraBoldIt.woff') format('woff'),
       url('SohoGothicPro-ExtraBoldIt.ttf') format('truetype'),
       url('SohoGothicPro-ExtraBoldIt.svg#SohoGothicPro-ExtraBoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Italic';
  src: url('SohoGothicPro-Italic.eot');
  src: url('SohoGothicPro-Italic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Italic.woff2') format('woff2'),
       url('SohoGothicPro-Italic.woff') format('woff'),
       url('SohoGothicPro-Italic.ttf') format('truetype'),
       url('SohoGothicPro-Italic.svg#SohoGothicPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Regular';
  src: url('SohoGothicPro-Regular.eot');
  src: url('SohoGothicPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Regular.woff2') format('woff2'),
       url('SohoGothicPro-Regular.woff') format('woff'),
       url('SohoGothicPro-Regular.ttf') format('truetype'),
       url('SohoGothicPro-Regular.svg#SohoGothicPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-LightItalic';
  src: url('SohoGothicPro-LightItalic.eot');
  src: url('SohoGothicPro-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-LightItalic.woff2') format('woff2'),
       url('SohoGothicPro-LightItalic.woff') format('woff'),
       url('SohoGothicPro-LightItalic.ttf') format('truetype'),
       url('SohoGothicPro-LightItalic.svg#SohoGothicPro-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Medium';
  src: url('SohoGothicPro-Medium.eot');
  src: url('SohoGothicPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Medium.woff2') format('woff2'),
       url('SohoGothicPro-Medium.woff') format('woff'),
       url('SohoGothicPro-Medium.ttf') format('truetype'),
       url('SohoGothicPro-Medium.svg#SohoGothicPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-MediumItalic';
  src: url('SohoGothicPro-MediumItalic.eot');
  src: url('SohoGothicPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-MediumItalic.woff2') format('woff2'),
       url('SohoGothicPro-MediumItalic.woff') format('woff'),
       url('SohoGothicPro-MediumItalic.ttf') format('truetype'),
       url('SohoGothicPro-MediumItalic.svg#SohoGothicPro-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-ThinItalic';
  src: url('SohoGothicPro-ThinItalic.eot');
  src: url('SohoGothicPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-ThinItalic.woff2') format('woff2'),
       url('SohoGothicPro-ThinItalic.woff') format('woff'),
       url('SohoGothicPro-ThinItalic.ttf') format('truetype'),
       url('SohoGothicPro-ThinItalic.svg#SohoGothicPro-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Ultra';
  src: url('SohoGothicPro-Ultra.eot');
  src: url('SohoGothicPro-Ultra.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Ultra.woff2') format('woff2'),
       url('SohoGothicPro-Ultra.woff') format('woff'),
       url('SohoGothicPro-Ultra.ttf') format('truetype'),
       url('SohoGothicPro-Ultra.svg#SohoGothicPro-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-UltraItalic';
  src: url('SohoGothicPro-UltraItalic.eot');
  src: url('SohoGothicPro-UltraItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-UltraItalic.woff2') format('woff2'),
       url('SohoGothicPro-UltraItalic.woff') format('woff'),
       url('SohoGothicPro-UltraItalic.ttf') format('truetype'),
       url('SohoGothicPro-UltraItalic.svg#SohoGothicPro-UltraItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Bold';
  src: url('SohoGothicPro-Bold.eot');
  src: url('SohoGothicPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Bold.woff2') format('woff2'),
       url('SohoGothicPro-Bold.woff') format('woff'),
       url('SohoGothicPro-Bold.ttf') format('truetype'),
       url('SohoGothicPro-Bold.svg#SohoGothicPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-BoldItalic';
  src: url('SohoGothicPro-BoldItalic.eot');
  src: url('SohoGothicPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-BoldItalic.woff2') format('woff2'),
       url('SohoGothicPro-BoldItalic.woff') format('woff'),
       url('SohoGothicPro-BoldItalic.ttf') format('truetype'),
       url('SohoGothicPro-BoldItalic.svg#SohoGothicPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Thin';
  src: url('SohoGothicPro-Thin.eot');
  src: url('SohoGothicPro-Thin.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Thin.woff2') format('woff2'),
       url('SohoGothicPro-Thin.woff') format('woff'),
       url('SohoGothicPro-Thin.ttf') format('truetype'),
       url('SohoGothicPro-Thin.svg#SohoGothicPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Light';
  src: url('SohoGothicPro-Light.eot');
  src: url('SohoGothicPro-Light.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Light.woff2') format('woff2'),
       url('SohoGothicPro-Light.woff') format('woff'),
       url('SohoGothicPro-Light.ttf') format('truetype'),
       url('SohoGothicPro-Light.svg#SohoGothicPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-ExtraBold';
  src: url('SohoGothicPro-ExtraBold.eot');
  src: url('SohoGothicPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-ExtraBold.woff2') format('woff2'),
       url('SohoGothicPro-ExtraBold.woff') format('woff'),
       url('SohoGothicPro-ExtraBold.ttf') format('truetype'),
       url('SohoGothicPro-ExtraBold.svg#SohoGothicPro-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-ExtraBoldIt';
  src: url('SohoGothicPro-ExtraBoldIt.eot');
  src: url('SohoGothicPro-ExtraBoldIt.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-ExtraBoldIt.woff2') format('woff2'),
       url('SohoGothicPro-ExtraBoldIt.woff') format('woff'),
       url('SohoGothicPro-ExtraBoldIt.ttf') format('truetype'),
       url('SohoGothicPro-ExtraBoldIt.svg#SohoGothicPro-ExtraBoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Italic';
  src: url('SohoGothicPro-Italic.eot');
  src: url('SohoGothicPro-Italic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Italic.woff2') format('woff2'),
       url('SohoGothicPro-Italic.woff') format('woff'),
       url('SohoGothicPro-Italic.ttf') format('truetype'),
       url('SohoGothicPro-Italic.svg#SohoGothicPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Regular';
  src: url('SohoGothicPro-Regular.eot');
  src: url('SohoGothicPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Regular.woff2') format('woff2'),
       url('SohoGothicPro-Regular.woff') format('woff'),
       url('SohoGothicPro-Regular.ttf') format('truetype'),
       url('SohoGothicPro-Regular.svg#SohoGothicPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-LightItalic';
  src: url('SohoGothicPro-LightItalic.eot');
  src: url('SohoGothicPro-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-LightItalic.woff2') format('woff2'),
       url('SohoGothicPro-LightItalic.woff') format('woff'),
       url('SohoGothicPro-LightItalic.ttf') format('truetype'),
       url('SohoGothicPro-LightItalic.svg#SohoGothicPro-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Medium';
  src: url('SohoGothicPro-Medium.eot');
  src: url('SohoGothicPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Medium.woff2') format('woff2'),
       url('SohoGothicPro-Medium.woff') format('woff'),
       url('SohoGothicPro-Medium.ttf') format('truetype'),
       url('SohoGothicPro-Medium.svg#SohoGothicPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-MediumItalic';
  src: url('SohoGothicPro-MediumItalic.eot');
  src: url('SohoGothicPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-MediumItalic.woff2') format('woff2'),
       url('SohoGothicPro-MediumItalic.woff') format('woff'),
       url('SohoGothicPro-MediumItalic.ttf') format('truetype'),
       url('SohoGothicPro-MediumItalic.svg#SohoGothicPro-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-ThinItalic';
  src: url('SohoGothicPro-ThinItalic.eot');
  src: url('SohoGothicPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-ThinItalic.woff2') format('woff2'),
       url('SohoGothicPro-ThinItalic.woff') format('woff'),
       url('SohoGothicPro-ThinItalic.ttf') format('truetype'),
       url('SohoGothicPro-ThinItalic.svg#SohoGothicPro-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Ultra';
  src: url('SohoGothicPro-Ultra.eot');
  src: url('SohoGothicPro-Ultra.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Ultra.woff2') format('woff2'),
       url('SohoGothicPro-Ultra.woff') format('woff'),
       url('SohoGothicPro-Ultra.ttf') format('truetype'),
       url('SohoGothicPro-Ultra.svg#SohoGothicPro-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-UltraItalic';
  src: url('SohoGothicPro-UltraItalic.eot');
  src: url('SohoGothicPro-UltraItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-UltraItalic.woff2') format('woff2'),
       url('SohoGothicPro-UltraItalic.woff') format('woff'),
       url('SohoGothicPro-UltraItalic.ttf') format('truetype'),
       url('SohoGothicPro-UltraItalic.svg#SohoGothicPro-UltraItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Bold';
  src: url('SohoGothicPro-Bold.eot');
  src: url('SohoGothicPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Bold.woff2') format('woff2'),
       url('SohoGothicPro-Bold.woff') format('woff'),
       url('SohoGothicPro-Bold.ttf') format('truetype'),
       url('SohoGothicPro-Bold.svg#SohoGothicPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-BoldItalic';
  src: url('SohoGothicPro-BoldItalic.eot');
  src: url('SohoGothicPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-BoldItalic.woff2') format('woff2'),
       url('SohoGothicPro-BoldItalic.woff') format('woff'),
       url('SohoGothicPro-BoldItalic.ttf') format('truetype'),
       url('SohoGothicPro-BoldItalic.svg#SohoGothicPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoGothicPro-Thin';
  src: url('SohoGothicPro-Thin.eot');
  src: url('SohoGothicPro-Thin.eot?#iefix') format('embedded-opentype'),
       url('SohoGothicPro-Thin.woff2') format('woff2'),
       url('SohoGothicPro-Thin.woff') format('woff'),
       url('SohoGothicPro-Thin.ttf') format('truetype'),
       url('SohoGothicPro-Thin.svg#SohoGothicPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

